In [1]:
import os
import pandas as pd

In [12]:
data_dir = os.environ['SPIKESDATA']
df = pd.read_parquet(os.path.join(data_dir, 'spikes_df_2010_new.parquet'), engine='pyarrow')

In [14]:
df.head()

,Path,Size,Time,Wavelength,GroupNumber
0,2010/05/13/2010-05-13T00:00:02.09Z_0193.spikes...,106560,2010-05-13 00:00:02.090000+00:00,193,0
1,2010/05/13/2010-05-13T00:00:03.57Z_0094.spikes...,103680,2010-05-13 00:00:03.570000+00:00,94,0
2,2010/05/13/2010-05-13T00:00:05.07Z_0335.spikes...,126720,2010-05-13 00:00:05.070000+00:00,335,0
3,2010/05/13/2010-05-13T00:00:06.58Z_0171.spikes...,40320,2010-05-13 00:00:06.580000+00:00,171,0
4,2010/05/13/2010-05-13T00:00:08.08Z_0211.spikes...,60480,2010-05-13 00:00:08.080000+00:00,211,0

In [17]:
df['Size'].sum() / (1e9* 1024)

1.0529795628125

In [31]:
df[df['Time'] < pd.Timestamp('2010-05-14 00:00:00', tz='UTC')]['Size'].sum() / (1e6 * 1024)

3.7628409375