In [2]:
import os
import pandas as pd
datadir = os.environ['SPIKESDATA']

In [4]:
pickle_f = os.path.join(datadir, 'spikes_df_2010.pkl')
df = pd.read_pickle(pickle_f)
df.head()

,path_str,filename,secs,timestamp
0,2010/05/13/2010-05-13T00:00:02.09Z_0193.spikes...,2010-05-13T00:00:02.09Z_0193.spikes.fits,2,2010-05-13 00:00:02.090000+00:00
1,2010/05/13/2010-05-13T00:00:03.57Z_0094.spikes...,2010-05-13T00:00:03.57Z_0094.spikes.fits,3,2010-05-13 00:00:03.570000+00:00
2,2010/05/13/2010-05-13T00:00:05.07Z_0335.spikes...,2010-05-13T00:00:05.07Z_0335.spikes.fits,5,2010-05-13 00:00:05.070000+00:00
3,2010/05/13/2010-05-13T00:00:06.58Z_0171.spikes...,2010-05-13T00:00:06.58Z_0171.spikes.fits,6,2010-05-13 00:00:06.580000+00:00
4,2010/05/13/2010-05-13T00:00:08.08Z_0211.spikes...,2010-05-13T00:00:08.08Z_0211.spikes.fits,8,2010-05-13 00:00:08.080000+00:00

In [8]:
ngroup = df.groupby(pd.Grouper(key='timestamp', freq='12s')).ngroup()

In [11]:
f = df['filename'].iloc[0]
f

'2010-05-13T00:00:02.09Z_0193.spikes.fits'

In [15]:
ii = f 
ii.split(':')[-1]

'02.09Z_0193.spikes.fits'

In [16]:
from astropy.time import Time

In [19]:
t = '2010-05-13T00:01:60.00Z'

In [24]:
int(f.split('_')[-1][0:4])

193

In [30]:
df['path_str'].iloc[0].split('/')[-1]

'2010-05-13T00:00:02.09Z_0193.spikes.fits'

In [31]:
f

'2010-05-13T00:00:02.09Z_0193.spikes.fits'

In [40]:
(f[0:17] + '00' + f[19:23])

'2010-05-13T00:00:00.09Z'

In [41]:
f[17:19]

'02'