In [1]:
import sys, os
import pandas as pd
import numpy as np
import cupy as cp
from pathlib import Path, PurePath
import cudf
print('python version: ', sys.version)
print('CuPy version: ', cp.__version__)
print('CuDF version: ', cudf.__version__)

python version:  3.7.6 | packaged by conda-forge | (default, Mar 23 2020, 23:03:20)
[GCC 7.3.0]
CuPy version:  7.5.0
CuDF version:  0.14.0

In [2]:
def get_dist_mat(coords):
    # Convert 1D to 2D image coordinates, all images are 4096 x 4096 pixels
    coords_x = coords % 4096
    coords_y = coords // 4096
    # Leverage broadcasting to vectorize distance matrix calculation (i.e. no for loop needed)
    coords_xb = coords_x[:, np.newaxis]
    coords_yb = coords_y[:, np.newaxis]
    dist_matrix = (coords_x - coords_xb)**2 + (coords_y - coords_yb)**2
    return dist_matrix

def get_dist_mat_gpu(coords):
    coords_x = coords % 4096
    coords_y = coords // 4096
    coords_xb = coords_x[:, cp.newaxis]
    coords_yb = coords_y[:, cp.newaxis]
    dist_matrix = (coords_x - coords_xb)**2 + (coords_y - coords_yb)**2
    cp.cuda.runtime.deviceSynchronize()
    return dist_matrix


@cp.fuse()
def dist_mat(x1, x2, y1, y2):
    return (x1 - x2)*(x1 - x2) + (y1-y2)*(y1-y2)


def get_dist_mat_gpu_fuse(coords):
    coords_x = coords % 4096
    coords_y = coords // 4096
    coords_xb = coords_x[:, cp.newaxis]
    coords_yb = coords_y[:, cp.newaxis]
    dist_matrix = dist_mat(coords_x, coords_xb, coords_y, coords_yb)
    cp.cuda.runtime.deviceSynchronize()
    return dist_matrix



def get_rows_list(array, w1_idx, w2_idx):
    np_mask = (array[:, w1_idx] == 1) & (array[:, w2_idx] == 1)
    df_idx = np.nonzero(np_mask)[0]
    coords = array[np_mask, 0]
    dist_matrix = get_dist_mat(coords)
    select = dist_matrix < 2 
    select2 = np.triu(select, k=1)
    r,c = np.nonzero(select2)
    idx1, idx2 = df_idx[r], df_idx[c]
    return idx1, idx2

def get_rows_list_gpu(array, w1_idx, w2_idx):
    mask = (array[:, w1_idx] == 1) & (array[:, w2_idx] == 1)
    df_idx = cp.nonzero(mask)[0]
    coords = array[df_idx, 0]
    dist_matrix = get_dist_mat_gpu(coords)
    select = dist_matrix < 2 
    select2 = cp.triu(select, k=1)
    r,c = cp.nonzero(select2)
    idx1, idx2 = df_idx[r], df_idx[c]
    return idx1, idx2


def get_2coincidentals(array, w1_idx, w2_idx):
    idx1, idx2 = get_rows_list(array, w1_idx, w2_idx)
    records = [df0.loc[[i1, i2]][['coords', 'int1', 'int2', 'wref']] for i1, i2 in zip(idx1, idx2)]
    df_records = pd.concat(records, keys=list(range(len(records))))
    return df_records


def get_2clusters(array, w1_idx, w2_idx, group_n=None):
    idx1, idx2 = get_rows_list(array, w1_idx, w2_idx)
    # To remove conjugates
#     keep_mask = arr0[idx1, 3] != arr0[idx2, 3] 
#     recordsf = np.concatenate((arr0[idx1[keep_mask], 0:4], arr0[idx2[keep_mask], 0:4]), axis=1)
    
    records = np.concatenate((array[idx1, 0:4], array[idx2, 0:4]), axis=1)
    df_records = pd.DataFrame(records, columns=['coords1', 'int1_before', 'int1_after', 'wref1', 'coords2', 'int2_before', 'int2_after', 'wref2'])
    if group_n is not None:
        df_records['GroupNumber'] = group_n

    return df_records


def get_2clusters_gpu(gpu_array, w1_idx, w2_idx):
    gidx1, gidx2 = get_rows_list_gpu(gpu_array, w1_idx, w2_idx)
    grecords = cp.concatenate([gpu_array[gidx1, 0:4], gpu_array[gidx2, 0:4]], axis=1)
    #grecords2 = cp.asfortranarray(grecords)
    #cudf_records = cudf.DataFrame.from_gpu_matrix(grecords2, columns=['coords1', 'int1_before', 'int1_after', 'wref1', 'coords2', 'int2_before', 'int2_after', 'wref2'])
    return records

In [23]:
parquet_dir = os.path.join(os.environ['SPIKESDF'], 'parquet_dataframes/')
df0 = pd.read_parquet(PurePath(parquet_dir, '2010/07/df_coincidentals_2010_07_12.parquet')
                      , engine='pyarrow')
df0.head()

   coords  int1  int2  wref  w0  w1  w2  w3  w4  w5  w6  GroupNumber
0   63998    49    10     0   1   0   0   1   0   0   0       432000
1   86745   420     1     0   1   0   0   0   0   0   1       432000
2   97515    54     2     0   1   0   0   1   0   0   0       432000
3  101611   106     3     0   1   0   0   1   0   0   0       432000
4  126328    44     0     0   1   0   0   1   0   0   0       432000

In [4]:
df1 = df0.set_index('GroupNumber', append=True).swaplevel(0, 1)
df1.head()

               coords  int1  int2  wref  w0  w1  w2  w3  w4  w5  w6
GroupNumber
432000      0   63998    49    10     0   1   0   0   1   0   0   0
            1   86745   420     1     0   1   0   0   0   0   0   1
            2   97515    54     2     0   1   0   0   1   0   0   0
            3  101611   106     3     0   1   0   0   1   0   0   0
            4  126328    44     0     0   1   0   0   1   0   0   0

In [5]:
groups = df1.index.get_level_values('GroupNumber').unique()
groups

Int64Index([432000, 432001, 432002, 432003, 432004, 432005, 432006, 432007,
            432008, 432009,
            ...
            439190, 439191, 439192, 439193, 439194, 439195, 439196, 439197,
            439198, 439199],
           dtype='int64', name='GroupNumber', length=7198)

In [6]:
gdf = cudf.DataFrame.from_pandas(df1)
gdf.head()

               coords  int1  int2  wref  w0  w1  w2  w3  w4  w5  w6
GroupNumber
432000      0   63998    49    10     0   1   0   0   1   0   0   0
            1   86745   420     1     0   1   0   0   0   0   0   1
            2   97515    54     2     0   1   0   0   1   0   0   0
            3  101611   106     3     0   1   0   0   1   0   0   0
            4  126328    44     0     0   1   0   0   1   0   0   0

In [7]:
# Get the index to iterate over mulitple groups
cudf_groups = gdf.index.get_level_values('GroupNumber').unique()
cudf_groups

Int64Index([432000, 432001, 432002, 432003, 432004, 432005, 432006, 432007,
            432008, 432009,
            ...
            439190, 439191, 439192, 439193, 439194, 439195, 439196, 439197,
            439198, 439199],
           dtype='int64', name='GroupNumber', length=7198)

In [8]:
gdf2 = gdf.loc[cudf_groups[0:200], :]
array = cp.asarray(gdf2.as_gpu_matrix())

In [9]:
%%timeit 
gdf2 = gdf.loc[cudf_groups[0:200], :]
array = cp.asarray(gdf2.as_gpu_matrix())

25.6 ms ± 1.23 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

### Calculate distance matrices to extract and univocally label pair-wise overlapping pixel events within a parametrized distance.

We use the dataframes above that tells us for each "bad" pixel, which one has a "bad" neighbour, but we do not know what neighbour that is, that linkage does not exist and require calculating distance matrices.

In [10]:
# Column indices of a pair of wavelengths of interest
w1_idx = 4
w2_idx = 5

In [11]:
%%time 
events12 = [get_2clusters(df1.loc[group_n].values, w1_idx, w2_idx, group_n) for group_n in groups]
df_events12 = pd.concat(events12)
df_events12 = df_events12.loc[(df_events12.wref2 == 1)]
df_events12.head()

CPU times: user 6.27 s, sys: 36.1 ms, total: 6.3 s
Wall time: 6.3 s

,coords1,int1_before,int1_after,wref1,coords2,int2_before,int2_after,wref2,GroupNumber
1,938908,426,10,0,934812,307,3,1,432000
3,1004780,163,17,0,1004781,355,3,1,432000
4,2027361,333,1,0,2031457,27,1,1,432000
6,2535069,98,12,0,2530973,1857,2,1,432000
9,3629323,219,13,0,3629324,52,5,1,432000

#### Comparing CPU vs GPU versions

In [35]:
%time
array = df1.loc[groups[0:200]].values
np_mask = (array[:, w1_idx] == 1) & (array[:, w2_idx] == 1)
cpu_coords = array[np_mask, 0]
dist_matrix = get_dist_mat(cpu_coords)
array.shape, cpu_coords.shape, dist_matrix.shape

CPU times: user 1e+03 ns, sys: 1 µs, total: 2 µs
Wall time: 4.05 µs

((1031292, 11), (16940,), (16940, 16940))

In [20]:
%%timeit
array = cp.asarray(gdf.loc[cudf_groups[0:200], :].as_gpu_matrix())
# Get the coordinates of the pixels that are known to belong to the pair of wavelengths of interest
cp_mask = (array[:, w1_idx] == 1) & (array[:, w2_idx] == 1)
gpu_coords = array[cp_mask, :][:,0] # CuPy currently does not support mixed slice/indexing methods... 
dist_matrix = get_dist_mat_gpu_fuse(gpu_coords)

54 ms ± 282 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [21]:
%timeit dist_matrix = get_dist_mat(cpu_coords)

966 ms ± 23 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [22]:
%timeit gdist_matrix2 = get_dist_mat_gpu_fuse(gpu_coords)

25.8 ms ± 1.5 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [33]:
6 * 365 * 10 * 120 / (60 * 60) * 10 / 24

304.1666666666667

In [29]:
21+35+35+21+7+1

120

In [31]:
1520 / 50

30.4

In [34]:
966 / 25

38.64